---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: false
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles sorted by date, on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign posts_in_category = site.publications | where: "category", category[0] | sort: "date" | reverse %}
    {% if posts_in_category.size > 0 %}
      <h2 id="{{ category[0] }}">{{ category[1].title }}</h2>
      <hr />
      <div class="publications-grid">
        {% for post in posts_in_category %}
          {% include archive-single-publication.html %}
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}
{% else %}
  <div class="publications-grid">
    {% for post in site.publications reversed %}
      {% include archive-single-publication.html %}
    {% endfor %}
  </div>
{% endif %}