{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="experience-card talk-card">
      <div class="experience-header">
        <div class="experience-content">
          <div class="experience-title-line">
            <h3 class="experience-title" itemprop="headline">
              {% if post.link %}
                <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
              {% else %}
                <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
              {% endif %}
            </h3>
            {% if post.type %}<span class="talk-type-badge">{{ post.type }}</span>{% endif %}
          </div>

          <div class="experience-details-container">
            <div class="experience-details">
              {% if post.date %}<span class="dates">{{ post.date | date: '%b %Y' }}</span>{% endif %}
              {% if post.venue %}
                <span class="title-separator">&bull;</span>
                <span class="talk-venue">{{ post.venue }}{% if post.location %}, {{ post.location }}{% endif %}</span>
              {% endif %}
            </div>
          </div>

          {% if post.excerpt %}
          <div class="honor-description">{{ post.excerpt | markdownify }}</div>
          {% endif %}
        </div>
      </div>
    </div>
  </article>
</div>
